body{
    min-height: 100vh;
    background: rgb(113,50,156);
    background: linear-gradient(90deg, rgba(113,50,156,1) 0%, rgba(170,10,10,1) 50%, rgba(181,126,47,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
}


.maincontainer{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 375px;
    height: 700px;
    border-radius: 30px ;
    background-color: rgb(87, 86, 86);
    box-shadow: 3px 3px 10px 5px;
}

.screen{
    width:350px;
    height: 75px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: rgb(178, 213, 243);
    border-radius: 25px;
    margin-bottom: 15px;
    box-shadow: inset 0 0 10px #000000;
}

#permnumber, #newnumber{
    align-self: flex-end;
    padding-right: 30px;
}

.insideCont{
display: flex;
flex-direction: column;
gap: 40px;
}

#funcButtons{
padding-top: 30px;
align-self:center;
}

#firstRow{
align-self: center;
}

#secondRow{
align-self: center;
}

#thirdRow{
align-self: center;
}

 #num0, #num1, #num2, #num3, #num4, #num5, #num6, #num7, #num8, #num9{
    width:70px;
    height: 75px;
    border-radius: 10px;
    background-color: rgb(224, 136, 19);
    color: black;
    transition: background-color 0.5s;
    
}
#num0:hover, #num1:hover, #num2:hover,#num3:hover, #num4:hover, #num5:hover, 
#num6:hover, #num7:hover, #num8:hover, #num9:hover{
    background-color: rgb(250, 172, 69);
}

#num0:focus,#num0:active, #num1:focus,#num1:active, #num2:focus,#num2:active, #num3:focus,#num3:active,
#num4:focus,#num4:active, #num5:focus,#num5:active, #num6:focus,#num6:active, #num7:focus,#num7:active,
#num8:focus,#num8:active, #num9:focus,#num9:active {
background-color: rgb(168, 95, 0);
transition: background-color 0.5s;
} 

#clearBtn, #dltBtn{
    width: 100px;
    height: 50px; 
    border-radius: 10px;
    background-color: rgba(221, 1, 1, 0.801);
    transition: background-color 0.5s;
}

#clearBtn:hover, #dltBtn:hover{
    background-color: rgb(255, 40, 40);
}

#clearBtn:focus,#celarBtn:active,
#dltBtn:focus,#dltBtns:active{
    background-color: rgb(153, 0, 0);
    transition: background-color 0.5s;
}

#pointBtn{
    width:70px;
    height: 75px;
    border-radius: 10px;
    background-color: rgb(224, 136, 19);
    transition: background-color 0.5s;
}

#pointBtn:hover{
    background-color: rgb(250, 172, 69);
}

#pointBtn:focus, #pointBtn:focus{
    background-color: rgb(168, 95, 0);
    transition: background-color 0.5s;
}

#equBtn{
    width:140px;
    height: 75px;
    border-radius: 10px;
    background-color: rgb(221, 188, 0);
    transition: background-color 0.5s;
}

#equBtn:hover{
    background-color: rgb(250, 227, 98);
}
#equBtn:focus,#equBtn:active{
    background-color: rgb(168, 143, 1);
    transition: background-color 0.5s;
}

#plsuBtn, #minusBtn, #orBtn{
    width: 70px;
    height: 75px;
    border-radius: 10px;
    background-color: 	rgb(210,105,30);
    transition: background-color 0.5s;
    
}

#divBtn{
    width: 80px;
    height:50px;
    border-radius: 10px;
    background-color: 	rgb(210,105,30);
    transition: background-color 0.5s;
}

#plsuBtn:hover, #minusBtn:hover, #orBtn:hover, #divBtn:hover{
    background-color: 	rgb(253, 144, 66);
}

#plsuBtn:focus, #plusBtn:active, #minusBtn:focus,#minusBtn:active,
#orBtn:focus,#orBtn:active, #divBtn:focus,#dicBtn:active{
    background-color: rgba(175, 87, 24, 0.932);
    transition: background-color 0.5s;
}

#operandCont{
   align-self: center;
}

